h2 {
    text-align: center;
    color: whitesmoke;
}

.mucluc {
    text-align: center;
    line-height: 4;
}

.backgroup {
    background: url("https://images5.alphacoders.com/738/738065.jpg")
    no-repeat center center /cover;
    height: 100vh;
    width: 100vw;
}

.csw-btn-button {
    cursor: pointer;
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 10px;
    border: 1px solid #9B6A1D;
    transition: 0.4s;
    color: whitesmoke;
    font-family: "Brush Script MT";
    background-color: #a18c5b;

}

.csw-btn-button:hover {
    background-color: red;

}
.text-container {
    margin: 0;
    font-size: 150px;
    color: rgba(225,225,225, .01);
    background-image: url("https://cdn.popsww.com/blog/sites/2/2022/02/ACE_1280x720.jpg");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 1s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
@keyframes animate {
    0%, 100% {
        background-position: left top;
    }
    25%{
        background-position: right bottom;
    }
    50% {
        background-position: left bottom;
    }
    90% {
        background-position: right top;
    }
}
table{
    line-height: 20;
}

@-webkit-keyframes animate {
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
